@font-face {
    font-family: pine;
    src: url("fonts/PineWords-xRZZR.ttf");
}

@font-face {
    font-family: lemon;
    src: url("fonts/LemonMilkBold-gx2B3.otf");
}

body {
    margin: 0;
    display: flex;
    font-family: lemon;
    background-color: #ffd5eb;
}   

.sidebar {
    width: 60px;
    background-color: #a71a65;
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
    height: 100vh;
}

.sidebar:hover {
    width: 210px;
}

.logo-title {
    display: flex;
    align-items: center;
    padding: 10px;
    white-space: nowrap;
}

.logo-title img {
    height: 40px;
    margin-right: 10px;
}

.title {
    font-size: 1.5em;
    font-family: lemon;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .title {
    opacity: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
}

.menu a {
    width: 100%;
    text-decoration: none;
}

.menu button {
    white-space: nowrap;
    font-family: pine;
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    padding: 15px 15px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1;
}

.menu button i {
    font-size: 1.2em;
    min-width: 20px;
}

.menu button span {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .menu button span {
    opacity: 1;
}

.menu button:hover {
    color: #A3BFFA;
    background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
}

.bg1 {
    width: 100%;
    height: 100vh;
    background-color: #ffd5eb;
}

.bg2 {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffb8dd;
}
.bg3 {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #ff69b7;
}
.bg4 {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #f58edd;
}

.sect1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.content {
    margin-top: 20px;
    display: flex;
}


.heading1 {
    margin-top: 150px;
    margin-bottom: 0;
    text-align: center;
    color: #a80d0d;
    font-size: 5em;
}



.text1 {
   text-align: center;
   font-family: pine; 
   font-size: 1.25em;
}


.startBtn1 {
    height: 4rem;
    width: 12rem;
    background: linear-gradient(135deg, #a80d2c, #ff9cca);
    border: none;
    border-radius: 20px;
    font-family: pine;
    font-size: 1.5em;
    color: #FFFFFF;
    box-shadow: 0 0 15px 5px #cd0029;
    transition: width 0.3s ease;
}

.startBtn1:hover {
    width: 15rem;
    box-shadow: 0 0 15px 5px #770018;
}

.sect2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heading2 {
    margin-top: 0px;
    text-align: center;
    color: #d42b2b;
    font-size: 2.5em;
}

#content {
    background-color: #f58edd;
    border-radius: 8px;
    box-shadow: 0 10px 15px 10px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    width: 1300px;
    height: 650px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#content::-webkit-scrollbar {
    display: none;
}

#taskheader {
    display: flex;
    align-items: left;
    justify-content: left;
}

.blankdiv {
    background-color: #f58edd;
    border: none;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addnotediv {
    background-color: #ff3aa0;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addnotediv:hover {
    transition: 0.25s ease;
    background-color: #ff2067;
}

#addnotediv i {
    font-size: 70px;
    color: gainsboro;
}

#listcont {
    display: flex;
    align-items: left;
    justify-content: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
}

li {
    background-color: #fff385;
    margin: 5px 0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 9px 9px 18px #b3b3b3 -9px -9px 18px #fff;
}

li span {
    font-size: 12px;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-y: scroll;
}

#editBtn,
#deleteBtn {
    background-color: #ff6060;
    color: #fff;
    border: none;
    padding: 5px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    width: 60px;
}

#editBtn {
    background-color: gainsboro;
}

#editBtn:hover {
    background-color: #ff8fea;
}

#deleteBtn:hover {
    background-color: #75003b;
}

#popupCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#btn-container {
    display: flex;
}

#submitBtn, #closeBtn {
    width: 100px;
    background-color: #8c53ff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#closeBtn {
    background-color: gainsboro;
}


#editing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#submitBtn, #closeBtn {
    width: 100px;
    background-color: #8c53ff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#closeBtn {
    background-color: gainsboro;
}
